@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-4 offset-md-1">
            <div class="mt-5">
                <div class="mb-4">
                    <h1>Log in</h1>
                    <p class="lead">Enter your account.</p>
                </div>
                 <section>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                   @* <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>*@
                </div>
            </form>
        </section>
            </div>
        </div>
        <div class="col-12 col-md-6 offset-md-1 d-flex">
            <div class="flex-grow-1">
                <partial name="_BublesAndCirclesPrtial" />
            </div>
        </div>
    </div>
</div>
@section Scripts {
     <partial name="_ValidationScriptsPartial" />
    <script src="~/js/timezone.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
}
