@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-4 offset-md-1">
            <div class="mt-5">
                <div class="mb-4">
                    <h1>@ViewData["Title"]</h1>
                    <p class="lead">Enter your email.</p>
                </div>
                 <section>
             <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </section>
            </div>
        </div>
        <div class="col-12 col-md-6 offset-md-1 d-flex">
            <div class="flex-grow-1">
                <partial name="_BublesAndCirclesPrtial" />
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
