@{
    this.ViewData["Title"] = "Home Page";
}

<div class="page-hero bg-white text-primary" id="banner">
    <partial name="_BublesAndCirclesPrtial" />
    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <div class="title text-center pt-5">
                    <h1 class="display-2 text-primary">QuizzApp</h1>
                    <div id="about" class="intro bg-light">

                        <div class="blog-posts p-2">
                            <div class="container">
                                <div class="row">
                                        <partial name="_MakeQuizPartial">
                                        <partial name="_TakeQuizPartial">
                                        <partial name="_ListCourse">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

