@{
    ViewData["Title"] = "_ListCourse";
}

<div class="col-md-4 mb-4">
    <div class="component">
        <div class="card">
            <div class="card-header text-danger" style="font-size: xx-large">
                <i class="fas fa-file-alt"></i>
            </div>
            <div class="card-body pt-0">
                <h4 class="card-title">List Cousre</h4>
                 <p class="card-text">View list of course</p>
            </div>
            <div class="card-footer pb-3 mt-3">
                <a class="btn btn-outline-danger read"
                   asp-area="UserArea" 
                   asp-controller="Courses" 
                   asp-action="Index">
                Enter
                </a>
            </div>
        </div>
    </div>
</div>

